<!DOCTYPE html>
<html>
<head>
    <title>BookScout</title>
</head>
<body>
    <h1>📚 BookScout</h1>
    <form method="post">
        <label for="title">Enter a Book Title:</label>
        <input type="text" id="title" name="title" required>
        <button type="submit">Search</button>
    </form>

    {% if book %}
    <h2>Book Info: {{ book.title }}</h2>
    <p><strong>Author:</strong> {{ book.author }}</p>
    <p><strong>Categories:</strong> {{ book.categories }}</p>
    <p><strong>Rating:</strong> {{ book.rating }}</p>
    <p><strong>Description:</strong> {{ book.clean_description }}</p>
  {% else %}
    <p>No book selected yet.</p>
  {% endif %}
  
</body>
</html>
